table,
th,
td {
  border: 1px solid black;
}

td {
  height: 50px;
  width: 50px;
  text-align: center;
}

input {
  width: 50px;
}

.screen {
  padding: 20px;
}

.goalState {
  background-color: red;
}

.initialState {
  background-color: green;
}

.wall {
  background-color: grey;
}
